Requirement for VAPID sub ?

I have a few app sending webpush messages with VAPID. They are designed for people self-hosting their own (application) server and to do some tests, I followed the spec and since they don't require the sub field, I haven't implemented it to reduce set up requirement for users.

I got some 401 with autopush when I realized you require `sub`. What's the reason to require it when VAPID isn't required at all ? Are you OK to make it optional ? I will set dummy mailto for the moment

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/SYNC-4564)


If you want your users to do less work, just don't have them use VAPID. It's not required.

Then I'll go link to the project repos, in case an issue should be raised.

Is it required in the objective to make VAPID mandatory ?

Well, the "V" in VAPID is for Voluntary, so, no.



> Well, the "V" in VAPID is for Voluntary, so, no.

But some push servers require it. 

That was the only reason I saw that could explain breaking the specs and making `sub` a MUST :shrug: 

[RFC8292](https://www.rfc-editor.org/rfc/rfc8292)
>  If the application server wishes to provide contact details, it MAY include a "sub" (Subject) claim in the JWT.

=> So the push server MUST accept JWT without "sub" claim.

I just opened the issue because it may break some applications notifications (my other apps aren't an issue but an example), and possibly to understand why it has been made mandatory. NP if you don't have the details

We require the "sub" because without that bit of information, VAPID is pretty useless.

VAPID exists so that the server has a way to contact the publishing parties should there be some problem or need to reach out to the providers. It's voluntary, because not every publisher may want to provide that information. As a nice incentive, Push servers can provide a bit of extra security to Subscription publishers by "locking" subscription endpoints to only those Publishing endpoints that can provide the matching VAPID key. 

Granted, a malicious party would need to intercept the original credentials provided by the user agent (including the endpoint and encryption keys for each individual subscription) and know how the Subscription is processed by the client Service Worker before they could send anything that could be shown to the end user, so, I guess, good luck on that? Anything that doesn't match is dropped by either the Server or the User Agent. (Honestly, if your lines of communication are compromised to the point where your push credentials have been intercepted by a malicious party, you have far bigger concerns than telling someone they have new mail or an upcoming meeting.)

VAPID is just an additional check on top of that. It's the chain lock around the vault that contains your message.

As for why the authors didn't specify that `sub` is required was a very long, drawn out argument involving conflicting sub-requirements like JWT. I have no idea why Google requires VAPID, but I'm hoping you've also filed a ticket with them to ask that they drop the requirement for a `V`oluntary `Ap`plication `Id`entifier. (They won't.)

There's a lot of the RFC (like may other RFCs) that is ignored, by the way. We don't use HTTP/2 to communicate to the User Agents, for instance, and that's a sizable chunk of the RFC. To the best of my knowledge, I don't believe that any other Push service does either. 

I'll also note that the sub has to be a valid communication URL `mailto:xxx` or `https:xxx`, but aside from that we don't check. To be honest, we don't really record it either because it would be WAY too expensive to do that. That said, there's nothing stopping anyone from using a bogus value here like `mailto:none@example.com` or `https://i.am.lying.and.using.example.org/invalid_contact` here. We'll have no way to let you know if something went horribly wrong or that we're about to block your IP or something, but that's the trade off. 

 

> Abstract
>
>   An application server can use the Voluntary Application Server
   Identification (VAPID) method described in this document to
   voluntarily identify itself to a push service.  The "vapid"
   authentication scheme allows a client to include its identity in a
   signed token with requests that it makes.  The signature can be used
   by the push service to attribute requests that are made by the same
   application server to a single entity.  __The identification
   information can allow the operator of a push service to contact the
   operator of the application server__.  __The signature can be used to
   restrict the use of a push message subscription to a single
   application server.__

I see 2 reasons to use VAPID:
- Allow the operator of a push service to contact the operator. It requires the `sub` field
- Restrict the use of a push message subscription to a single server. Which uses only the signature (and the `aud` and `exp` fields).

You say that The 2nd use case is not really important because push messages are encrypted with RFC8291 (or unfortunately too often its 4th draft) so the user agent reject the push message when decrypting it. I agree it avoids the most important issues. But that doesn't prevent a buggy application (or a malicious server, which probably have something more useful to target, I know) sending multiple push messages with a wrong encryption key, using user agent resources for nothing. This use of resources can have an important impact on mobile environments.

For example, I have seen an application sharing its push endpoint to their contact (+/- publicly), this application can use VAPID to allow only their contact to push to the endpoint. This also reduce/remove risks of logs shared with push endpoints. More over, it may be possible for the users to update the VAPID key list of an endpoint when they remove one of their contact, avoiding generating a new endpoint to share to all their contacts

I know some of the specs (RFC8030 only, this is not the case for RFC8291 and RFC8292 ) are simply ignored, maybe an erratum or a new RFC can be publish for the HTTP/2 part. Here we are talking about something pretty easy to patch, that I'm ok to do (if you are ok) that would improve compatibility with the specifications

> But that doesn't prevent a buggy application (or a malicious server, which probably have something more useful to target, I know) sending multiple push messages with a wrong encryption key, using user agent resources for nothing.

Heh, sorry. I mean, you're not wrong. That could happen, provided a malicious actor were to get all of the active endpoints of a given party that wasn't using VAPID (or was using it poorly). Mind you, our servers currently contend with millions of requests for endpoints that are 404 or 410 as is. Endpoints are tied to specific devices and specific web apps on those browsers. Endpoints that get abused tend not to live very long. Users either kill the endpoint by revoking the permission, or reset the browser to drop everything, or the endpoint is identified as abusive and dropped. 

>More over, it may be possible for the users to update the VAPID key list of an endpoint when they remove one of their contact, avoiding generating a new endpoint to share to all their contacts

Yeah, that would never work. Changing the VAPID key invalidates all prior endpoint, so they'd have to reissue endpoints for all clients. 

As for someone sharing their push endpoint publicly, people can and will do whatever they want, regardless of how you may warn them in advance. I would suspect that any such publicly shared endpoint would probably be fairly short lived. 

And, again, I'm fine with the HTTP/2 elements of the RFC being gleefully ignored by the folk that implemented it. That part isn't really meaningful outside of being a way to describe the interactions that the server and UA will have. The HTTP/2 is basically formalized pseudo-code. I don't think that you're going to have any movement for a universal Push User Agent that can talk to any Push Server back-end for a number of reasons, cost being the biggest reason for that. It's cheap to feed notifications into the service, but actually running Push is costly as hell.


So given:
- There is a value to use VAPID even without sub
- VAPID is not required, so there are already records without the sub field
- The requirement for the sub field can't be known during registration
- Sending a push message with VAPID that doesn't contain the sub field lead to a 403, during push message (which regarding the specifications would mean we use a wrong key or outdated token)

Making sub field optional wouldn't introduce any downside (if I'm correct) but would resolve a non-compliance that can't be caught during registration, isn't it ? And would you consider it with a PR ?

Sigh. I'm probably being too stubborn about this. I'll reopen the ticket, but there's work to be done to make sure that all of the assumptions with various systems that the `sub` exist are handled correctly.

Fixed with #831, thanks !